.input-control {
    min-width: 520px;
}

:global(.button).search-button {
    background: #4ab04c;
    border: none;
}

:global(.icon).search-icon {
    color: white;
}

:global(.checkboxes){
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
