.nav-bar {
    display: flex;
    background: #d2ff96;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 15rem;
    margin-right: 1rem;
}

:global(.button).nav-button {
    margin-left: 1rem;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}